.BuildControls {
  width: 80%;
  background-color: #cf8f2e;
  display: flex;
  flex-flow: column;
  align-items: center;
  box-shadow: 0px 2px 1px #ccc;
  margin: auto;
  padding: 10px 0;
}

.OrderButton {
  padding: 5px;
  margin-top: 5px;
  font: inherit;
  border: 2px solid #aa6817;
  box-shadow: 2px 2px 2px #966909;
}

.OrderButton:hover,
.OrderButton:active {
  background-color: #a0db41;
  cursor: pointer;
}

.OrderButton:disabled {
  background-color: #c7c6c6;
  cursor: not-allowed;
  color: #888888;
}

.OrderButton:not(:disabled) {
  animation: enable 0.3s linear;
}

@keyframes enable {
  0% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 499px) {
  .BuildControls {
    width: 100%;
  }
}
