.BuildControl {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5px 0;
}

.BuildControl button {
  display: block;
  font: inherit;
  padding: 0px 2px;
  margin: 0 2px;
  width: 58px;
  border: 2px solid #aa6817;
  cursor: pointer;
  outline: none;
}

.Label {
  width: 80px;
}
