.Button {
  padding: 5px;
  margin: 5px;
  border: 0 solid black;
  font-weight: 600;
  font-size: 12pt;
  cursor: pointer;
}

.Button.first-of-type {
  margin-left: 0;
  padding-left: 0;
}

.Success {
  color: #5c9210;
}
.Danger {
  color: #944317;
}
